<!-- OPCIÓN 1 - PREMIUM (RECOMENDADA) -->
<button (click)="goToIndex()" class="boton-regreso-crypto">
  <span class="icono-flecha-crypto">←</span>
  <span class="texto-regreso-crypto">
    <span class="texto-superior-regreso">Volver al Inicio</span>
    <span class="texto-inferior-regreso">CryptoMonitor</span>
  </span>
</button>


<div class="dashboard">
  <input
    type="number"
    (input)="updateThreshold($event)"
    [value]="threshold()"
    placeholder="Umbral de Alerta"
  />
  <div class="grid">
    @for (crypto of cryptos(); track crypto.id) {
      <app-crypto-card
        [data]="crypto"
        [threshold]="threshold()"
        [stats]="stats()[crypto.id]"
      >
      </app-crypto-card>
    }
  </div>
</div>
