/* src/styles.css */
:root {
  --bg-dark: #0f172a;
  --card-bg: #1e293b;
  --text-main: #f8fafc;
  --accent-blue: #38bdf8;
  --up-color: #22c55e;
  --down-color: #ef4444;
  --alert-border: #f59e0b;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

<<<<<<< HEAD
/* Estilo para el input del umbral de alerta [cite: 5] */
=======
/* Estilo para el input del umbral de alerta*/
>>>>>>> 94d00f1dd38fb08568545fe2d149adce6ce6167a
input[type="number"] {
  background: var(--card-bg);
  border: 1px solid #334155;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 8px;
<<<<<<< HEAD
  margin-top: 20px; /* Añade esta línea para moverlo hacia abajo */
=======
>>>>>>> 94d00f1dd38fb08568545fe2d149adce6ce6167a
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--accent-blue);
  border-color: transparent;
}

<<<<<<< HEAD
=======


>>>>>>> 94d00f1dd38fb08568545fe2d149adce6ce6167a
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> 94d00f1dd38fb08568545fe2d149adce6ce6167a
